{% extends 'base.html' %}

{% block title %} Forgot Password {% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-9">
      {% if request.GET.m == "s" %}
      <h3>Password Reset Link is send to your email address. Please check your email immediately</h3>
      {% else %}
      <h3>Enter Your email used in making customer account to get password reset link</h3>
      {% if request.GET.m == "e" %}
      <h4 class="text-danger">Something went wrong, please enter your valid email</h4>
      {% endif %}
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Get Reset Link</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}